* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  nav {
    display: flex;
    gap: 1rem;
    a {
      font-weight: 700;
    }
  }
}
section {
  width: 100%;
  height: 90vh;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
        text-transform: uppercase;
        /* padding: 5rem; */
    img {
      height: 90%;
      padding: 1rem;
    }
    .right {
      padding: 5rem;
      button {
        width: 7vw;
        background-color: blue;
        color: white;
        border-radius: 2rem;
        border: 0;
        
      }
    }
  }
}
