* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  /* position: fixed;
  background-color: rgb(223, 222, 221); */
  nav {
    display: flex;
    gap: 1rem;
    a {
      font-weight: 700;
    }
  }
}
section {
  width: 100%;
  /* height: 90vh; */
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  .container {
    width: 80%;
    /* height: 70%; */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    img {
      width: 50%;
      /* height: 90%; */
      padding: 1rem;
    }
    .right {
      padding: 4rem;
      h1 {
        font-size: 2.1rem;
        padding-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
        padding: 2rem;
      }
    }
    button {
      width: 11vw;
      height: 3rem;
      background-color: blue;
      color: white;
      border-radius: 2rem;
      border: 0;
    }
  }
}

main {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 70%;
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .upper1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      /* font-weight: 700; */
    }
    .upper2 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      div {
        width: 45%;
        /* height: 28vh; */
        background-color: rgb(239, 227, 227);
        padding: 1rem;
        font-size: 1.2rem;
        /* button{
          width: 11vw;
      height: 3rem;
      background-color: blue;
      color: white;
      border-radius: 2rem;
      border: 0;
        } */
      }
      .son1 {
        background-image: url(./1.jpg);
        background-size: cover;
      }
      .son2 {
        background-color: #f1bb13;
      }
      .son3 {
        background-color: #34365a;
        color: white;
      }
      .son4 {
        background-image: url(./2.jpg);
        background-size: cover;
      }
      .son5 {
        background-image: url(./3.jpg);
        background-size: cover;
      }
      .son6 {
        background-color: #f1bb13;
      }
    }
  }
}

 .section2{
  width: 100%;
  height: 70vh;
  background-color: #34365a;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  .relative{
  width:40%;
  height: 30vh;
  position:absolute ;
  top: 7%;
  left: 30%;
  h2{
    font-size: 55px;
    padding-bottom: 1rem;
  }
  p{
    padding-bottom: 1.5rem;
    font-size:22px;
  }
  button{
    padding-left: 1rem;
    width: 15rem;
    height: 2rem;
    border-radius: 3rem;
    background-color: #34365a;
    font-size: 1rem;
    
  }
    }
  .up{
    width: 50%;
    height: 120%;
    background-image:url(./ddd.jpg);
    background-size: cover;
    margin-right:20% ;
    position: absolute;
    top: 18rem;
    .on{
      width: 60%;
      height: 80%;
      background-color: white;
      position: absolute;
      top: 7rem;
      left: 30rem;
      color: rgb(17, 10, 1);
      display:flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      h3{
        font-size: 2rem;
       margin: 1rem 3rem;
      }
      p{
        font-size: 1rem;
       margin: 1rem 3rem;
      }
      button{
        width: 12rem;
        height: 4rem;
        background-color: #34365a;
        color: white;
        border-color: white;
        border-radius: 4rem;
        margin-left: 2rem ;
        font-size:1.2rem;
      }
    }
  } 
  .photo{
    width: 60%;
    height: 50%;
    /* background-color: blue; */
    position: absolute;
    top:60rem;
       display: flex;
       justify-content: space-between;

    .son{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #f1bb13;
      position: relative;
      .son1{
        position: absolute;
        top: 15rem;
        color: black;
      }
   
      img{
        width: 7rem;
        position: absolute;
        top: 4rem;
        left: -2rem;
      }
    }
  }
 } 
 