@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap") * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* font-weight: 700; */
}
header {
  width: 100%;
  /* height: 10vh; */
  /* background-color: oklch(67.221% 0.06544 18.864); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;

  nav {
    display: flex;
    gap: 1rem;
    a {
      font-weight: 700;
    }
  }
}

section {
  width: 100%;
  height: 90vh;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    img {
      /* width: 50%; */
      height: 90%;
      padding: 1rem;
    }
    .right{

      button{
        width: 7vw;
        background-color: blue;
        color: white;
        border-radius: 2rem;
        border: 0;
      }
    }
  }
}
