* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  /* position: fixed;
  background-color: bisque; */
  nav {
    display: flex;
    gap: 1rem;
    a {
      font-weight: 700;
    }
  }
}
section {
  width: 100%;
  height: 90vh;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  .container {
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    img {
      height: 90%;
      padding: 1rem;
    }
    .right {
      padding: 5rem;
  h1{
font-size: 2.1rem;

  }
  p{
    font-size: 1.5rem;
    padding:1rem;
  }

      }
      button {
        width: 11vw;
        height: 3rem;
        background-color: blue;
        color: white;
        border-radius: 2rem;
        border: 0;
      }
    }
  }

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 70%;
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .upper1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      /* font-weight: 700; */
    
    }
    .upper2 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
           div {
        width: 50%;
        height: 30vh;
        background-color: rgb(239, 227, 227);
        padding: 2rem;
        font-size: 1.2rem;
      }
      .son1 {
        background-image: url(./1.jpg);
        background-size: cover;
      }
      .son2 {
        background-color: #f1bb13;
      }
      .son3 {
        background-color: #34365a;
        color: white;
      }
      .son4 {
        background-image: url(./2.jpg);
        background-size: cover;
      }
      .son5 {
        background-image: url(./3.jpg);
        background-size: cover;
      }
      .son6 {
        background-color: #f1bb13;
      }
    }
  }
}
.mid{
  width: 100%;
  height:70vh;
  background-color: crimson;
}
